@import "reset.css";
@import "variables.css";


* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.overflow-hidden {
    overflow: hidden;
}