:root {
    --font-family-heading: Raleway, sans-serif;
    --font-family-text: Inter, sans-serif;

    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-text);

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-text);

    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-heading);

    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-heading);

    --primary-color: #916DB3;
    --secondary-color: #FFE4C4;
    --text-color: #3B3360;
    --text-secondary-color: #F5F5F5;
    --bg-color: #F5F5F5;
}

[data-theme='dark'] {
    --primary-color: #916DB3;
    --secondary-color: #FFD700;
    --text-color: #808080;
    --text-secondary-color: #282c34;
    --bg-color: #282c34;
}
