.modal {
    @apply fixed inset-0 z-[-1] opacity-0 invisible transition-all overflow-y-auto py-[100px];
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 100px 0;
}

.modal.show {
    opacity: 100;
    visibility: visible;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: rgba(22, 22, 22, 0.5);
}

.content {
    position: relative;
    max-width: 550px;
    background: var(--bg-color);
    border-radius: 4px;
    padding: 20px;
    z-index: 1002;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}

@media screen and (max-width: 575px) {
    .content {
        max-width: calc(100% - 20px);
    }
}
