.block {
    box-shadow: rgba(17, 17, 26, 0.06) 0px 0px 16px;
    border-radius: 8px;
}

.info {
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.name {
    color: var(--primary-color);
}

.phone {
    margin: 5px 0 10px 0;
    font-size: var(--font-size-m);
    display: flex;
    gap: 5px;
}

.email {
    margin: 5px 0 10px 0;
    display: flex;
    gap: 5px;
}

.tagWrapper {
    padding: 20px;
    border-top: 1px solid #f3f4f6;
}