.button {
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    font-size: var(--font-size-m);
    cursor: pointer;
    transition: filter 0.2s linear;
}

.primary {
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    color: var(--text-color);
}


.secondary {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--text-secondary-color);
}


.block {
    display: block;
    width: 100%;
}

.medium {
}

.small {
    padding: 5px 8px;
    font-size: var(--font-size-s);
}