.input {
    border: 1px solid var(--text-color);
    border-radius: 4px;
    color: var(--text-color);
    width: 100%;
    padding: 10px 14px;
    outline: none;
}

input:focus {
    border: 1px solid var(--primary-color);
}

.input::placeholder {
    color: #a7a7a7;
    font-size: var(--font-size-s);
}