.block {
    padding: 50px;
}

.image {
    display: block;
    max-width: 250px;
    height: auto;
    margin: auto;
}

.text {
    text-align: center;
    font-size: var(--font-size-l);
    font-family: var(--font-family-heading);
    margin-top: 40px;
}