.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 425px;
    margin: auto;
}

.header {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 0;
    border-radius: 0 0 15px 15px;
}


.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family-heading);
    color: var(--text-color);
    font-weight: 500;
}

.logoImage {
    max-height: 45px;
    width: auto;
}

.main {
    padding: 20px 0;
    height: 100%;
    flex-grow: 1;
}